@model React.DotNet.EsBuild.Controllers.Main.MainModel

@{
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}

<h2>Home Page</h2>
<div>The section below renders a Render component - based on the values from the server</div>
